<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><% if @task.completed == true %>
      Completed
    <% else %>
      Not Completed
    <% end %>
</p>

<%= link_to "back to list", tasks_path %>
<%= link_to "back home", root_path %>
